{% extends "layouts/layout.html" %}
{% block page_title %}Fez | About{% endblock %}
{% block content %}
<p>Fez is a LAN chat app, built with python3 and flask. </p>
<p>The name comes from a shortening of "flask messenger" to "fess", which sounds like "fez". Preferentially, it should be written as a proper noun, with a capital "F".</p>

<h3>Development</h3>
    <p>Fez is developed on <a href="https://www.github.com">github.com</a>, under the <a href="https://choosealicense.com/licenses/gpl-3.0/">GNU GPL v3.0</a> licence. You can find more development information, including how to contribute your self, in the links below.</p>

    <h4>Links for more information</h4>
        <ul>
            <li><a href="https://www.github.com/Adoria298/flask-messenger">The Github Repository</a></li>
            <li><a href="https://www.github.com/Adoria298/flask-messenger#readme">More details</a></li>
            <li><a href="https://www.python.org">The Python Website</a></li>
            <li><a href="https://flask.pocoo.org">The Flask Website</a></li>
        </ul>
{% endblock %}