<!DOCTYPE HTML>
<html>
<head>
	<title>Flask Messenger</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
	<h1>Welcome to the Flask Messenger</h1>
	<p>Made with <a href="http://flask.pocoo.org/">Flask</a> and Python 3</p>
	<title>LRGS Technology</title>
<body>
	<nav>
		<ul class="navbar1">
		  <li class="navbar2"><a class="active navbar3" href="index.html">Home</a></li>
		  <li class="navbar2"><a href="#news" class="navbar3">News</a></li>
		  <li class="navbar2"><a href="#contact" class="navbar3">Contact</a></li>
		  <li class="navbar2"><a href="#about" class="navbar3">About</a></li>
		</ul>
	</nav>
	<h1>Welcome to LRGS Technology</h1>
	<p>Enter your message in the field below:</p>
	<form action="/handle_data" method="POST">
		<input type="text" name="message">
		<input type="submit" value="Send">
		<input type="submit" value="Refresh">
	</form>
</body>
</html>
