<!DOCTYPE HTML>
<html>
<head>
	<style>
		ul {
   		 list-style-type: none;
  		 margin: 0;
  		 padding: 0;
   		 overflow: hidden;
   		 background-color: #17b200;
		}

		li {
		    float: left;
		}

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		li a:hover:not(.active) {
		    background-color: #138c01;
		}
		.active{
			background-color:#0c0447;
	</style>
	<title>LRGS Technology</title>
</head>
<body>
	<nav>
		<ul>
		  <li><a class="active" href="index.html">Home</a></li>
		  <li><a href="#news">News</a></li>
		  <li><a href="#contact">Contact</a></li>
		  <li><a href="#about">About</a></li>
		</ul>
	</nav>
	<h1>Welcome to LRGS Technology</h1>
	<p>Enter your message in the field below:</p>
	<form action="/handle_data" method="POST">
		<input type="text" name="message">
		<input type="submit" value="Send">
		<input type="submit" value="Refresh">
	</form>
</body>
</html>
