{% extends "layouts/layout.html" %}
<title>Flask Messenger</title>
<body>
	{% block content %}
	<p>Made with <a href="http://flask.pocoo.org/">Flask</a> and Python 3</p>
	<p>Enter your message in the field below:</p>
	<form action="/handle_data" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="text" placeholder="Message">
		<input type="submit" value="Send" name="send">
	</form>
	<form action="/handle_refresh" method="POST">
		<input type="submit" value="Refresh" name="refresh">
	</form>
	<h3>Messages:<br/></h3>
	{% for message in messages %}
	<div class="card">
		<div class="container">
			<p class="message-name">From: {{ message["name"] }}</p>
			<p class="message-body">{{ message["text"] }}</p>
		</div>
	  </div> 
	{% endfor %}
	{% endblock %}
</body>

